<div class="col-md-3"></div>
<div class="col-md-6">
<h2>Join Our Mailing List...</h2>
<%= form_for(@subscription) do |f| %>
  <div class="field">
    <%= f.label :email, "Find out when we go live:" %>
    <div class="showtooltip" title="Stay connected with Betastore!"><%= f.text_field :email, class: 'form-control' %></div>
    <%= f.submit('Sign Up', class: 'btn btn-default') %>
  </div>
<% end %>
</div>
<div class="col-md-3"></div>

<% if flash.present? %>
  <% flash do |k,v| %>
    <div class="<%= k %>"><%= v %></div>
  <% end %>
<% end %>
