<h1>Products</h1>

<div style="margin: 0 auto; text-align: center; width: 426px;">
  <% if flash[:notice].present? %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Created At</th>
  </tr>
  <% for product in @products %>
    <tr>
      <td><%= product.id %></td>
      <td><%= link_to product.name, admin_product_path(product) %></td>
      <td><%= product.price %></td>
      <td><%= product.created_at %></td>
    </tr>
  <% end %>
</table>

<br>

<a href="<%= new_admin_product_path() %>"><b>Add New Product</b></a>

</div>
