<div class="container">
	<h2>Products</h2>

	<div class="well">
	<div id="sorts" class="button-group">
		<p style="display: inline;">Sort by: </p>
	  <button class="button sort is-checked btn btn-default" data-sort-value="name">name</button>
	  <button class="button sort btn btn-default" data-sort-value="rating">rating</button>
	  <button class="button sort btn btn-default" data-sort-value="price">price</button>
	</div>
	</div>
	<div class="isobody jumbotron">
		
		<% for product in @products %>
		  <div class="item img-overlay" style="margin-bottom: 10px;">
		    	<div class="project-overlay">
		    		<div style="background-color: rgba(240,240,240,0.9); margin: 5px; padding: 5px;">
		        	<b><span class="name"><%= link_to product.name, product_path(product) %></span></b><br>
		        	<span class="price"><%= number_to_currency product.price %></span><br>
		        	<span class="glyphicon glyphicon-star"></span><span class="rating"> <%= product.votes %></span>
		        	<div class="showtooltip input-group pull-right" title="Add to cart">
		        		<a class="glyphicon glyphicon-plus-sign" data-method="post" href="<%= add_to_cart_product_path(product) %>"></a>
		        	</div>
		        </div>
		     	</div>
		
		    	<img src="<%= product.image_url %>" class="img-responsive" alt="<%= product.name %>">
		      	
		  </div>
		
		 <% end %>
	</div>

</div>

<script>
$( function() {
  // init Isotope
  var $container = $('.isobody').isotope({
    itemSelector: '.item',
    masonry: {
      columnWidth: 150,
      gutter: 10
    },    
    getSortData: {
      name: '.name',
      rating: '.rating parseInt',
      price: '.price',
    },
    sortAscending: {
    	name: true,
    	rating: false,
    	price: true,
  }
  });

  // bind sort button click
  $('#sorts').on( 'click', 'button', function() {
    var sortValue = $(this).attr('data-sort-value');
    $container.isotope({ sortBy: sortValue });
  });

  // change is-checked class on buttons
  $('.button-group').each( function( i, buttonGroup ) {
    var $buttonGroup = $( buttonGroup );
    $buttonGroup.on( 'click', 'button', function() {
      $buttonGroup.find('.is-checked').removeClass('is-checked');
      $( this ).addClass('is-checked');
    });
  });
  // layout Isotope again after all images have loaded
	$container.imagesLoaded( function() {
	  $container.isotope('layout');
	});
});
</script>